@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;700&display=swap');

body {
  background: rgb(218, 255, 194);
  background: linear-gradient(
    90deg,
    rgb(201, 245, 100) 0%,
    rgba(101, 229, 255, 1) 100%
  );
  font-family: 'Quicksand', sans-serif;
}

/* ----- NAVBAR ----- */
.navbar-links {
  border-bottom: solid 5px rgba(255, 189, 128, 0.726);
}

/* ----- CONTAINER ----- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  border: solid 5px rgba(255, 189, 128, 0.726);
  padding: 35px;
  margin: 2% 5%;
}

.no-search-result-icon {
  display: flex;
  text-align: center;
  font-size: 80px;
  margin: 80px 0;
  justify-content: space-around;
  background-image: linear-gradient(
    45deg,
    rgb(199, 101, 56),
    rgb(255, 198, 91)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* ----- HEADER ----- */
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  background-image: linear-gradient(
    45deg,
    rgb(199, 101, 56),
    rgb(255, 198, 91)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* ----- FORM ----- */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 25px;
  width: 80%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(255, 189, 128);
  outline: 0;
  font-size: 30px;
  color: rgb(42, 42, 42);
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 15px;
  cursor: text;
  top: 40px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(98, 98, 98);
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 00;
  border-width: 4px;
  border-image: linear-gradient(
    to right,
    rgb(63, 163, 185),
    rgb(255, 189, 128)
  );
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(17, 153, 142);
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* ----- GET WEATHER BTN ----- */
.get-weather-btn {
  margin: 15px;
}

/* ----- WEATHER ----- */

section {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: auto auto auto;
  justify-items: center;
  grid-template-areas:
    'header header header'
    'img desc desc'
    'icon main details';
}

.welcome {
  grid-area: header;
  justify-self: start;
  font-family: 'Pacifico', cursive;
  color: rgb(248, 249, 250);
  font-size: 55px;
}

.welcome-flag {
  margin: 0 0 25px 15px;
}

.city-img {
  justify-self: start;
  grid-area: img;
  margin: 0 0 15px 2px;
}

.wiki-city-img {
  border-radius: 10px;
  width: 100%;
}

.city-desc {
  grid-area: desc;
  padding: 0 25px;
  margin-bottom: 20px;
}

.icon {
  background-color: rgba(248, 249, 250, 0.404);
  border-radius: 10px;
  width: 98%;
  grid-area: icon;
  text-align: center;
}

.icon img {
  height: 150px;
}

.weather-desc {
  background-color: rgba(248, 249, 250, 0.404);
  border-radius: 10px;
  width: 99%;
  grid-area: main;
  padding-top: 50px;
  align-self: stretch;
  text-align: center;
}

.weather-desc i {
  color: rgb(248, 249, 250);
  font-size: 60px;
}

.weather-desc p {
  margin-top: 25px;
  font-size: 40px;
}

.weather-details {
  background-color: rgba(248, 249, 250, 0.404);
  border-radius: 10px;
  width: 99%;
  padding-left: 55px;
  align-self: end;
  padding-top: 25px;
  font-size: 15px;
  grid-area: details;
  margin-bottom: 2px;
}

.weather-details span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.weather-details i {
  color: rgb(248, 249, 250);
  font-size: 28px;
  margin-right: 10px;
}
