@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background: rgb(218, 255, 194);
  background: linear-gradient(
    90deg,
    rgba(218, 255, 194, 1) 0%,
    rgba(101, 229, 255, 1) 100%
  );
}
/* ----- CONTAINER ----- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  border: solid 3px rgba(255, 189, 128, 0.726);
  padding: 35px;
  margin: 35px;
}

/* ----- HEADER ----- */
h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(255, 255, 255);
  font-size: 45px;
}

/* ----- FORM ----- */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 25px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(255, 189, 128);
  outline: 0;
  font-size: 35px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 15px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(98, 98, 98);
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 4px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* ----- GET WEATHER BTN ----- */
.get-weather-btn {
  margin-top: 15px;
}